body
    font-family: 'Lato'
    margin: 0

.d-flex
    display: flex
.justify-center
    justify-content: center
.align-center
    align-items: center
.font-bold
    font-weight: bold
.bg__pink
    background-color: $pink
.bg__purple
    background-color: $purple
.bg__white
    background-color: #FFFFFF
.bg__grey
    background-color: $grey
.color__white
    color: $white
.text-right
    text-align: right
.text-center
    text-align: center